---
title: Stylguide
layout: styleguide
---

<aside class="side-bar styleguide-side-bar">
  <ul>
    <li><h5>Components</h5></li>
    <li><a href="#table">Table</a></li>
    <li><a href="#card">Card</a></li>
    <li><a href="#breadcrumb">Breadcrumb</a></li>
    <li><a href="#pagination">Pagination</a></li>
    <li><a href="#search">Search</a></li>
    <li><a href="#table-blade">Table Blade</a></li>

    <li><h5>Layouts</h5></li>
    <li><a href="/nfa-styleguide/search.html">Search Landing</a></li>
    <li><a href="/nfa-styleguide/firm-search-results.html">Firm Search Results</a></li>
    <li><a href="/nfa-styleguide/individual-search-results.html">Individual Search Results</a></li>
    <li><a href="/nfa-styleguide/pool-search-results.html">Pool Search Results</a></li>
    <li><a href="/nfa-styleguide/firm.html">Firm Profile</a></li>
    <li><a href="/nfa-styleguide/individual.html">Individual Profile</a></li>
  </ul>
</aside>

<main class="main-wrapper styleguide-wrapper">

  <section id="table">
    <h4 class="styleguide-header">Table</h4>
    <%= partial 'partials/table' %>
  </section>

  <section id="card">
    <h4 class="styleguide-header">Card</h4>
    <%= partial 'partials/card' %>
  </section>

  <section id="breadcrumb">
    <h4 class="styleguide-header">Breadcrumb</h4>
    <%= partial 'partials/main-breadcrumb' %>
  </section>

  <section id="pagination">
    <h4 class="styleguide-header">Pagination</h4>
    <%= partial 'partials/pagination' %>
  </section>

  <section id="search">
    <h4 class="styleguide-header">Search</h4>
    <%= partial 'partials/search' %>
  </section>

  <section id="table-blade">
    <h4 class="styleguide-header">Table Blade</h4>
    <%= partial 'partials/table-blade' %>
  </section>


  <!-- Components -->


</main>